body{
  background: #e3e3e3;
}

img{
  display: none;
}

/*container*/
#c{
  border: #3a714a solid 1px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 640;
  height: 384;
  background: #CEF3B6;
}